{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="stylesheet" href="cards.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{% static 'cards/cards.js' %}" defer></script>
        <link rel="icon" href="%PUBLIC_URL%/images/favicon.ico" />
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>OASIS</title>
    </head>
    <body>
        <div class="heading"> SHOWING ALL PRODUCTS</div>
        <section class="content">
            <div id="cards" class="cards">
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/AI crusie cars.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">AutoMate Cars</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/hololens pro.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">HoloLens</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/GlideShoes.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">NanoGlide Shoes</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/luxuritate.png"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">Luxuritate</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/hoverboard.jpeg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">HoverBoard</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/masks.webp"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">OxyMask</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/sundrones.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">SunDrones</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/RoboButler.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">RoboButler</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            <div class="card">
                <div class="card__background">
                    <div class="card__background-glow"></div>
                    <div class="card_img"><img src="photos/Nano Repair robots.jpg"></div>
                </div>
                <div class="card__glow"></div>
                <div class="card__content">
                <!-- <div class="card_img"></div> -->
                <div class="card__text">
                    <h4 class="card__title">NanoRepair Bots</h4>
                    <!-- <p class="card__description">This tier is perfect for those who are just getting started. You'll have access to all the essential features, including a simple interface, basic analytics, and email support.</p> -->
                </div>
                <button id="btn" class="btn card__btn">BUY NOW
                </button>
                </div>
            </div>
            </div>
        </section>
    </body>
    </html>